.action-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow:nowrap;
  justify-content:center;
  align-items:center;
  font-size: 24rpx;
  .name{
    color:#006699
  }
  .age{
    color:#990066
  }
  .sex{
    color:#669900
  }
}
