function computedTdWidth(columns, column, select, scrollX) {
  if (column.width) {
    return column.width
  } else if (scrollX) {
    return '200rpx'
  } else {
    if (select) {
      return 'calc( (calc(100% - 60rpx)) / ' + columns.length + ')'
    } else {
      return 'calc( 100% / ' + columns.length + ')'
    }
  }
}

module.exports = {
  computedTdWidth: computedTdWidth
}