.no-data{
  padding: 270rpx 0 60rpx;
  text-align: center;
  .image{
    width:400rpx;
    height: 325rpx;
    margin-bottom: 60rpx;
  }
  .text{
    margin-bottom: 30rpx;
    font-size: 32rpx;
    color: #333;
    font-weight: bold;
  }
  .subtitle{
    font-size: 28rpx;
    color: #a2a2a2;
    letter-spacing: 4rpx;
  }
} 
